name: Build and Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]
    paths-ignore:
      - '.github/**'
      - '.gitignore'
      - 'README.md'
      - 'LICENSE'

jobs:
  snapshot:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build and Publish Snapshot
        run: ./gradlew build publish
        env:
          MAVEN_REPOSITORY: ${{ secrets.MAVEN_SNAPSHOT_REPOSITORY }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Grant execute permission
        run: chmod +x gradlew

      - name: Build and Publish Release
        run: ./gradlew build publish
        env:
          MAVEN_REPOSITORY: ${{ secrets.MAVEN_RELEASE_REPOSITORY }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}

      - name: Get Version
        id: get_version
        run: echo "version=$(./gradlew printVersion --quiet)" >> $GITHUB_OUTPUT

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ format('Release {0}', steps.get_version.outputs.version) }}
          files: build/libs/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
